ENV=dev
CARDANO_CLI="/home/ubuntu/.local/bin/cardano-cli"
CARDANO_NODE_SOCKET="/home/ubuntu/cardano/node.socket"
NETWORK_MAGIC="--testnet-magic 1097911063"
PRIVATE_FOLDER="/home/ubuntu/cprivate"
CARDANO_DB_SYNC_POSTGRES_URL="dbname=testnet"
TOKENS_DB_URL="dbname=tokens"
STORAGE_ADDRESS="ADDRESS WHERE ALL ADA GO AFTER MINTING THE TOKEN FOR SAFE LONG-TERM STORAGE - do not keep the keys on server for safety"
MINTING_ADDRESS="ADDRESS WHERE USERS SEND ADA TO GET THEIR TOKENS MINTED - need to have access to private keys"
RESERVE_MINUTES=15
LIMIT_RESERVES_SECONDS=30
PINATA_JWT="JWT TOKEN GOES HERE. FOR IPFS AUTOMATION"
MINTING_SENDER_ONLY_ADDRESS="ADDRESS THAT IS USED BY mint_dogs method for minting special NFTs for stake pools, giveaways, etc"
